/* =========================================
   _variablar.scss — Variablar
   ========================================= */

/* --- Standard palett (lys) --- */
:root{
  --bg: #FCF9F3;
  --text: #12110e;
  --kort-radius: 10px;

  --panel: rgba(255,255,255,.72);
  --panel-strong: rgba(255,255,255,.86);
  --line: rgba(18,17,14,.12);

  --accent: #A8D4E8;   /* blå */
  --accent2: #F1CACB;
  --accent3: #A8D8A0;  /* grøn */
  --accent4: #F5DFC9;

  --radius: 0px;
  --maxw: 980px;
  --serif: "Fraunces", ui-serif, Georgia, "Times New Roman", serif;

  /* kortfargar kalender */
  --kort1: #FBEDC0;
  --kort2: #A8D4E8;
  --kort3: #F1CACB;
  --kort4: #F5DFC9;
  --kort5: #A8D8A0;
}
