<!DOCTYPE html>
<html lang="nn">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} · {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>

<header class="site-nav">
  <nav>
    <a href="{{ '/' | relative_url }}">Heim</a> ·
    <a href="{{ '/om/' | relative_url }}">Om laget</a>
  </nav>
</header>

    <main>
      {{ content }}
    </main>

<footer class="site-footer">
  <p>
    © {{ site.time | date: "%Y" }} {{ site.title }} ·
    Bygd på frivillig arbeid, GitHub Pages og øl på Kaffistova.
  </p>
</footer>
  </body>
  
</html>